.card {
  z-index: 10;
  position: relative;
}
.card__image {
  max-width: 100%;
  height: auto;
}

.headline-message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1vh;
  position: absolute;
  top: 13%;
  left: 9%;
  width: 80%;
}

.headline-message__title {
  color: var(--black);
  font-weight: 600;
  font-size: 3.3rem;
  white-space: nowrap;
}

.headline-message__note {
  color: var(--subTxt);
  font-weight: 250;
  font-size: 0.9rem;
  line-height: 2.5vw;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1028px) {
  .headline-message__title {
    font-size: 2.8rem;
  }

  .headline-message__note {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 780px) {
  .headline-message__title {
    font-size: 2.3rem;
    margin: 2%;
  }

  .headline-message__note {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 680px) {
  .headline-message__title {
    font-size: 1.9rem;
    margin: 2%;
  }

  .headline-message__note {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .card__image {
    gap: 0;
    position: absolute;
    top: 10%;
    left: 9%;
  }

  .headline-message__title {
    font-size: 1.8em;
  }

  .headline-message__note {
    font-size: 0.5rem;
    margin-top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .card__image {
    position: absolute;
    top: 13%;
  }

  .headline-message__title {
    font-size: 1.1rem;
  }

  .headline-message__note {
    font-size: 0.3rem;
    margin-top: 5%;
  }
}

@media screen and (max-width: 350px) {
  .headline-message__title {
    font-size: 0.8rem;
  }

  .headline-message__note {
    font-size: 0.25rem;
    margin-top: 5%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7.5vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 20vw;
  max-width: 100%;
}

.archives {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 65%;
  height: auto;
}

.archives__headline {
  font-weight: 600;
  font-size: 1.3rem;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5vw;
  row-gap: 5%;
}

.article-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  height: auto;
}

.article-block__image {
  width: 100%;
  aspect-ratio: 360/240;
}

.property {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.05vw;
}

.property__category {
  color: var(--maincolor);
}

.property__separation {
  color: var(--lightgrey);
}

.property__date {
  color: var(--lightgrey);
}

.article-block__title {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--black);
}

.article-block__body {
  color: var(--lightgrey);
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidemenu {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 24.5%;
}

.recommended-headline {
  font-weight: 600;
  font-size: 1.3rem;
}

.recommended-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.recommended-article__title {
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  padding-bottom: 10%;
}

.recommended-article__title_margin-bottom {
  margin-bottom: 5%;
}

.recommended-article__line {
  width: 100%;
  color: var(--lightgrey);
}

.recommended-article__line_margin-bottom {
  margin-bottom: 10%;
}

.options__title {
  font-weight: 600;
  font-size: 1.3rem;
}
.option-box {
  display: flex;
  justify-content: start;
  gap: 2vw;
}

.option-box__button {
  color: var(--middlegreys);
  border: 1px solid #dedede;
  max-width: 100%;
  max-height: 5%;
  padding-right: calc(1.2 * (0.5vh + 1vw));
  padding-left: calc(1.2 * (0.5vh + 1vw));
  padding-top: calc(0.2vh + 0.4vw);
  padding-bottom: calc(0.2vh + 0.4vw);
  font-size: 0.85rem;
  font-weight: 300;
  background-color: var(--white);
}

@media screen and (max-width: 1280px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .archives {
    width: 90%;
  }

  .archives_margin-bottom {
    margin-bottom: 20%;
  }
  .sidemenu {
    gap: 10%;
    width: 100%;
  }

  .recommended-article {
    max-width: 100%;
    gap: 0;
  }

  .recommended-article__line_margin-bottom {
    margin-bottom: 1%;
  }

  .recommended-article__title {
    padding-bottom: 1%;
    margin-bottom: 1%;
  }

  .option-box__button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1090px) {
  .archives__headline {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .property {
    font-size: 0.75rem;
  }

  .article-block__title {
    font-size: 1rem;
  }

  .article-block__body {
    font-size: 0.8rem;
  }

  .recommended-article__title {
    font-size: 1rem;
  }

  .option-box__button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 990px) {
  .archives__headline {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .property {
    font-size: 0.7rem;
  }

  .article-block__title {
    font-size: 0.9rem;
  }

  .article-block__body {
    font-size: 0.75rem;
  }

  .recommended-article__title {
    font-size: 0.9rem;
  }

  .option-box__button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 890px) {
  .archives__headline {
    font-weight: 600;
    font-size: 1rem;
  }

  .property {
    font-size: 0.65rem;
  }

  .article-block__title {
    font-size: 0.8rem;
  }

  .article-block__body {
    font-size: 0.65rem;
  }

  .recommended-article__title {
    font-size: 0.8rem;
  }

  .option-box__button {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 790px) {
  .archives__headline {
    font-weight: 600;
    font-size: 0.9rem;
  }

  .property {
    font-size: 0.6rem;
  }

  .article-block__title {
    font-size: 0.7rem;
  }

  .article-block__body {
    font-size: 0.55rem;
  }

  .recommended-article__title {
    font-size: 0.7rem;
  }

  .option-box__button {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 690px) {
  .archives__headline {
    font-weight: 600;
    font-size: 0.8rem;
  }

  .property {
    font-size: 0.55rem;
  }

  .article-block__title {
    font-size: 0.6rem;
  }

  .article-block__body {
    font-size: 0.45rem;
  }

  .recommended-article__title {
    font-size: 0.6rem;
  }

  .option-box__button {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .archives {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .archives__headline {
    font-weight: 600;
    font-size: 0.7rem;
  }

  .article-list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  .article-block {
    max-width: 100%;
    gap: 1vw;
  }

  .property {
    font-size: 0.6rem;
  }

  .article-block__title {
    font-size: 0.8rem;
  }

  .article-block__body {
    font-size: 0.7rem;
  }

  .recommended-article {
    max-width: 100%;
    width: 90%;
    gap: 0;
  }

  .recommended-article__line_margin-bottom {
    margin-bottom: 1%;
  }

  .recommended-article__title {
    font-size: 0.6rem;
    padding-bottom: 1%;
    margin-bottom: 1%;
  }

  .option-box__button {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 540px) {
  .archives__headline {
    font-weight: 600;
    font-size: 0.7rem;
  }

  .property {
    font-size: 0.55rem;
  }

  .article-block__title {
    font-size: 0.7rem;
  }

  .article-block__body {
    font-size: 0.65rem;
  }

  .option-box__button {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 440px) {
  .archives__headline {
    font-weight: 600;
    font-size: 0.6rem;
  }

  .property {
    font-size: 0.5rem;
  }

  .article-block__title {
    font-size: 0.7rem;
  }

  .article-block__body {
    font-size: 0.55rem;
  }

  .option-box__button {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding-top: 7.5vw;
  }

  .archives__headline {
    font-weight: 600;
    font-size: 0.5rem;
  }

  .property {
    font-size: 0.45rem;
  }

  .article-block__title {
    font-size: 0.6rem;
  }

  .article-block__body {
    font-size: 0.45rem;
  }

  .ecommended-article__title_margin-bottom {
    padding-bottom: 2%;
  }

  .option-box__button {
    max-width: 50%;
    font-size: 1.1vw;
  }

  .option-box__button {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 240px) {
  .archives__headline {
    font-weight: 600;
    font-size: 0.4rem;
  }

  .property {
    font-size: 0.4rem;
  }

  .article-block__title {
    font-size: 0.5rem;
  }

  .article-block__body {
    font-size: 0.35rem;
  }

  .option-box__button {
    font-size: 0.45rem;
  }
}
