<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/general.css">
    <link class="z-icon" rel="icon" href="/public/Z.png">
    <title>Zにログイン</title>
</head>

<body>
    <main class="page">
        <div class="center-contents">
            <div class="wrapper">
                <div class="after-page">
                    <span>新規登録に失敗しました。</span>
                </div>
                <div class="after-page">
                    <a href="/signup">新規登録はこちらから</a>
                </div>
            </div>
            <div class="link-for">
                <a href="/login">すでにアカウントをお持ちの場合はこちらから</a>
            </div>
        </div>
    </main>
</body>

</html>