<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/header.css">
    <link rel="stylesheet" href="/public/style/others-profile.css">
    <script src="/public/script/others-profile.js" defer></script>
    <link class="z-icon" rel="icon" href="/public/Z.png">
    <title>Z プロフィール</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="z-logo">
                <a class="header-logo">
                    <img class="z-img" src="/public/Z.png">
                </a>
            </div>
            <div class="menu-wrapper">
                <ul class="main-menu">
                    <li>
                        <a href="/" class="menu-content">ツェート一覧</a>
                    </li>
                    <li>
                        <a href="/profile" class="menu-content">プロフィール確認</a>
                    </li>
                    <li>
                        <a href="/tsueeet" class="menu-content">ツェートする</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="page">
        <div class="center-contents">
            <div class="wrapper">
                <div class="others-wrapper">
                    <div class="owner-username">
                        <img id="ownerImage" class="owner-image" src="">
                        <span id="ownerUsername">サンプルネーム</span>
                    </div>
                    <div id="ownerBio" class="owner-bio">BIO
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>