<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/header.css">
    <link class="z-icon" rel="icon" href="/public/Z.png">
    <title>Z プロフィール</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="z-logo">
                <a class="header-logo">
                    <img class="z-img" src="/public/Z.png">
                </a>
            </div>
            <div class="menu-wrapper">
                <ul class="main-menu">
                    <li>
                        <a href="/" class="menu-content">ツェート一覧</a>
                    </li>
                    <li>
                        <a href="" class="current-page">プロフィール確認</a>
                    </li>
                    <li>
                        <a href="/tsueeet" class="menu-content">ツェートする</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>