<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/reset.css">
    <link rel="stylesheet" href="/public/style/header.css">
    <link rel="stylesheet" href="/public/style/general.css">
    <link rel="stylesheet" href="/public/style/tsueeet.css">
    <script src="/public/script/posts.js" defer></script>
    <link class="z-icon" rel="icon" href="/public/Z.png">
    <title>Z</title>
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="z-logo">
                <a class="header-logo" href="/">
                    <img class="z-img" src="/public/Z.png" alt="Z icon">
                </a>
            </div>
            <div class="menu-wrapper">
                <ul class="main-menu">
                    <li>
                        <a href="/" class="current-page">ツェート一覧</a>
                    </li>
                    <li>
                        <a href="/profile" class="menu-content">プロフィール確認</a>
                    </li>
                    <li>
                        <a href="/tsueeet" class="menu-content">ツェートする</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <ul class="all-posts">
            <!-- <li class="z-post">
                <div class="profile-photo">
                    <img class="" src="/public/images/レモン少年.jpg">
                </div>
                <div class="user-and-content">
                    <div class="post-info">
                        <div class="user-info">
                            <a href="" class="user-name">ユザネはここに入る</a>
                            <a href="" class="user-id">IDはここに入る</a>
                        </div>
                        <div class="posted-date">
                            <span class="date">2025年3月31日</span>
                        </div>
                    </div>
                    <div class="posted-content">tsueeet内容</div>
                </div>
            </li> -->
        </ul>
    </main>
</body>

</html>