<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAYDAYTRAVEL</title>
    <link rel="stylesheet" href="./css/common/common.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/reset-custom.css">
</head>
<header class="header">
    <h1><a class="header-logo"href="#">DAYDAYTRAVEL</a></h1>
    <nav>
        <a class="header-login" href="#">Login</a>
        <a class="header-get-started" href="#">Get started</a>
    </nav>
</header>
<body>
    <section class="hero">
        <div class="hero-container">
            <img class="hero-container-img" src="images/hero-container.jpg" alt="hero-image" width="1366" height="770">
            <div class="hero-text">
                <h2 class="hero-text-heading">Share your<br>holiday stories.</h2>
                <p class="hero-text-sentence">Write about your experiences while on holiday in<br>various parts of indonesia, and reach a wide<br>readership</p>
            </div>
        </div>
    </section>

    <section>
        <main class="main">
            <div class="main-content">
              <h2 class="section-headline">一覧（新着順）</h2>
                <section class="main-section">
                  <div id="post-container">ここがバケツです！</div>
                </section>
            </div>
            <section class="sidebar-section">            

                <div class="sidebar">
                    <h4 class="sidebar-heading">人気記事</h4>
                    <div class="sidebar-article-title">
                        <a class="sidebar-title" href="#">記事タイトル記事タイトル記事タイトル記事タイトル</a>
                        <a class="sidebar-title" href="#">Cheap Padang specialty food restaurant</a>
                        <a class="sidebar-title" href="#">Mountain hiking in central Java</a>
                    </div>
                </div>

                <div class="sidebar-more-contents">
                    <h4 class="sidebar-more-contents-heading">もっと見る</h4>
                    <a class="sidebar-more-contents-link" href="#">Travel</a>
                    <a class="sidebar-more-contents-link" href="#">Culinary</a>
                </div>            
            </section>
        </main>
    </section>

    <footer class="footer">
        <seciton class="footer-section">
            <div class="footer-section-container-address">
                <h5 class="footer-section-heading">PT. Travel Everyday Indonesia</h5>
                <address class="footer-section-address">
                    Grand Floor Zaidin L-Walk,<br>Jl. Maju Jaya No. 2,<br> Daerah Istimewa Yogyakarta,<br>Indonesia 55281
                </address>
                <ul class="footer__nav-item--address__list">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Privacy policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
             <div class="footer-section-container-informations">
                <h5 class="footer-section-heading">Informations</h5>
                <ul class="footer__nav-item">
                    <li>
                        <a href="#">How to register as a user</a>
                    </li>
                    <li>
                        <a href="#">Guide to creating travel review</a>
                    </li>
                    <li>
                        <a href="#">Tutorial for making culinary reviews</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section-container-item">
                <h5 class="footer-section-heading">Follow us</h5>
                <ul class="footer__nav-item">
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                    </li>
                </ul>
            </div>
             <div class="footer-section-container-app">
                <h5 class="footer-section-heading">Download app</h5>
                <ul class="footer-nav-app-list">
                    <li>
                        <a href="#">
                            <image src="images/appstore.png" alt="Download on the App Store" widht="177" height="55.99"></image>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <image src="images/google-play.png" alt="Download on the google-play" widht="177" height="55.99"></image>
                        </a>
                    </li>
                </ul>
            </div>
        </seciton>
      <small class="footer-copy">
        &copy; 2023 PT. Travel Everyday Indonesia
      </small>
    </footer>
    <script src="js/top-page.js"></script>
</body>
</html>
