.post-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  color: white;
  background-color: #27acd9;
  border: 2px solid #27acd9;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem 3rem;
  margin-right: 30px;
  border-radius: 100vh;
  transition: 0.5s;
}

.post-button:hover {
  color: #27acd9;
  background-color: #fff;
}
