---
import { Image } from 'astro:assets'; 
import appStore from '../images/app-store.jpg';
import playStore from '../images/play-store.jpg';
---
<footer>
	<div class="container">
		<div class="footer-company">
			<h2>PT. Travel Everyday Indonesia</h2>
			<address>
				<p>Grand Floor Zaidin L-Walk,</p>
				<p>Jl. Maju Java No. 2,</p>
				<p>Daerah Istimewa Yogyakarta,</p>
				<p>Indonesia 55281</p>
			</address>
			<hr>
			<ul class="footer-menu">
				<li>About</li>
				<li>Privacy policy</li>
				<li>Terms & Conditions</li>
				<li>Contact</li>
			</ul>
		</div>

		<div class="footer-info">
			<h2>Informations</h2>
			<ul>
				<li>How to register as a user</li>
				<li>Guide to creating travel review</li>
				<li>Tutorial for making culinary reviews</li>
			</ul>
		</div>

		<div class="footer-sns">
			<h2>Follow us</h2>
			<ul>
				<li>Instagram</li>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Youtube</li>
			</ul>
		</div>

		<div class="footer-app">
			<h2>Download app</h2>
			<ul>
				<li><Image src={appStore} alt="App Store" /></li>
				<li><Image src={playStore} alt="Google Play" /></li>
			</ul>
		</div>
	</div>

	<p class="copyright">&copy; 2023 PT. Travel Everyday Indonesia</p>
</footer>

<style>
	footer {
		width: 100%;
		background-color: rgb(10, 10, 10);
		position: relative;
	}

	.container {
		padding: 100px 123px;
		display: flex;
		flex-wrap: wrap;
	}

	.footer-company, .footer-info, .footer-sns, .footer-app {
		margin-right: 100px;
		margin-bottom: 50px;
	}

	.footer-company {
		width: 280px;
	}

	.footer-info {
		width: 260px;
	}

	.footer-sns {
		width: 100px;
	}

	.footer-app {
		width: 180px;
	}

	h2 {
		color: white;
		font-size: 1.2rem;
	}

	p, li {
		color: gray;
		font-size: 1rem;
		margin-bottom: 20px;
	}

	.copyright {
		font-size: 0.8rem;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	/* .footer-company内 */
	address p {
		margin-bottom: 4px; 
	}

	hr {
		margin: 28px 0 20px 0;
	}

	.footer-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-menu li {
		margin: 12px 28px 12px 0;
	}

	/* .footer-app内 */
	img {
		width: 100%;
		height: auto;
		display: block;
	}

	@media screen and (max-width: 768px) {
		.container {
			padding: 100px 50px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
</style>