---
---
<header>
    <div>
        <h1>DAYDAYTRAVEL</h1>
        <nav>
            <ul>
                <li>Login</li>
                <li>Get started</li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        position: fixed;
        height: 90px;
        width: 100%;
        background-color: white;
    }

    header h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>