---
---
<header>
	<div class="container">
		<div class="header-left">
			<h1><a href="/">DAYDAYTRAVEL</a></h1>
		</div>

		<nav class="header-right">
			<ul>
				<li id="login"><a href="#">Login</a></li>
				<li id="get-started"><a href="#">Get started</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
	/* ヘッダーの固定、背景色の指定 */
	header {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 90px;
		background-color: white;
		border-bottom: 1px solid #DEDEDE;
	}

	/* 各要素の配置 */
	.container {
		height: 100%;
		padding: 0 123px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header-left h1 {
		font-size: 1.5rem;
		color: orangered;
	}

	.header-right {
		max-height: 100%;
	}

	.header-right li {
		font-size: 1rem;
		list-style: none;
		display: inline-block;
	}

	#get-started {
		background-color: orangered;
		color: white;
		margin-left: 20px;
	}
	
	#get-started a {
		display: block;
		padding: 10px 15px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	@media screen and (max-width:768px) {
		header {
			height: 70px;
		}
		
		.container {
			padding: 0 20px;
		}

		.header-left h1 {
			font-size: 1rem;
			font-weight: 600;
		}

		.header-right li {
			font-size: 0.8rem;
			list-style: none;
			display: inline-block;
		}

		#get-started {
			margin-left: 10px;
		}
		#get-started a {
			padding: 10px 10px;
		}
	}
</style>