@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #121212;
}

/* header */

header {
  background-color: #fff;
  border-bottom: 1px #dedede solid;
  display: flex;
  justify-content: space-between;
  padding: 20px 123px;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  font-size: 1.25rem;
  color: #ff553c;
  align-self: center;
}

.header__nav__btn--sign-up {
  background-color: #ff553c;
  display: inline-block;
  padding: 14px 16px;
  margin-left: 35px;
  color: #fff;
  font-weight: 500;
}

/* hero */

.hero {
  /* width: 100%; */
}

.hero__container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1366px;
  /* height: fit-content; */
  /* height: 56.36893vw; */
  max-height: 770px;
  /* background-image: url(../images/hero.png);
  background-size: 100%;
  background-repeat: no-repeat; */
}

.hero__container__img {
  max-width: 100%;
  height: auto;
}

.hero__container__text {
  position: absolute;
  top: 18%;
  left: 9%;
}

.hero__container__text-heading {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 35px;
}

.hero__container__text-sentence {
  font-size: 1rem;
}

.hero__img {
  width: 100%;
  height: auto;
}

/* main */

main {
  
  
}

.main__container {
  padding: 120px 96px;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  display: flex;
  gap: 96px;
}

main h3 {
  font-weight: 600;
  font-size: 1.375rem;
}

.article-list__col {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.article-list__col__unit {
  display: flex;
  gap: 25px;
}

.article-list__col__unit__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-list__col__unit__item__desc {
  font-size: 0.875rem;
}

.article-list__col__unit__item__desc-genre {
  color: #ff553c;
  font-weight: 500;
}

.article-list__col__unit__item__desc-hr {
  rotate: 90deg;
  width: 0.964375rem;
  display: inline-block;
  vertical-align: middle;
  border-color: #dedede;
}

.article-list__col__unit__item__desc-date {
  color: #757575;
}

.article-list__col__unit__item-title {
  font-weight: 300;
  font-size: 1.25rem;
}

.article-list__col__unit__item-text {
  color: #757575;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.sidebar__popular-article-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar__popular-article-item {
  width: 265px;
  height: 109.5px;
  border-bottom: 0.5px rgb(18, 18, 18, 20%) solid;
}

.sidebar__popular-article-item:nth-last-of-type(1) {
  border: none;
  height: auto;
}

.sidebar__popular-article-item h4 {
  font-size: 1.125rem;
  font-weight: 300;
}

.sidebar__more-contents-container {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.sidebar__more-contents-btn {
  text-decoration: none;
  color: #757575;
  font-size: 0.875rem;
  border: 1px #dedede solid;
  padding: 8px 18px;
}

/* footer */

footer {
  background-color: #121212;
  color: rgb(255, 255, 255, 50%);
  padding: 60px 60px 32px;
}

.footer__nav-container {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  gap: 60px;
}

.footer__nav-item {
  width: 
}

.footer__nav-item h4 {
  font-weight: 300;
  color: #fff;
  font-size: 1.125rem;
  margin-bottom: 35px;
}

.footer__nav-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__nav-item ul a {
  text-decoration: none;
  color: rgb(255, 255, 255, 50%);
}

.footer__nav-item--address address {
  font-style: normal;
}

.footer__nav-item--address hr {
  border-color: rgb(222, 222, 222, 50%);
  margin: 32px 0;
  width: 265.07px;
}

.footer__nav-item--address .footer__nav-item--address__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 250px;
}

.footer__nav-item--address__list li {
  /* width: calc((100% - 48px) / 2); */
}

.footer__nav-item__banner {
  width: 100%;
  max-width: 177px;
  height: auto;
}

.footer__copyright {
  margin-top: 60px;
  text-align: center;
}

/* responsive */

@media screen and (max-width: 1201px) {
  .main__container {
    width: fit-content;
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
  }
}

@media screen and (max-width: 936px) {
  html {
    font-size: 90%;
  }

  .main__container {
  }

  .article-list__col__unit__item {
    width: 100%;
  }

  .article-list__col__unit__item img {
    max-width: 100%;
    height: auto;
  }

  .footer__nav-container {
    flex-wrap: wrap
  }

  @media screen and (max-width: 768px) {
    html {
      font-size: 80%;
    }

    header {
      padding: 0 0 0 16px;
    }

    .hero__container__text-heading {
      font-size: 3rem;
      margin-bottom: 16px;
    }

    .main__container {
      padding: 80px 30px;
    }

    .article-list__col__unit {
      /* flex-wrap: wrap; */
    }

    .sidebar {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 534px) {
  html {
    font-size: 75%;
  }

  .header__nav__btn--sign-up {
    margin-left: 16px;
  }

  .hero__container__text-heading {
    font-size: 2.4rem;
  }

  .hero__container__text-sentence {
    font-size: .85rem;
  }

  .main__container {
    padding: 40px 30px;
  }

  .footer__nav-item__banner {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .hero__container__text {
    top: 10%;
  }

  .hero__container__text-heading {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .hero__container__text-sentence {
    font-size: .8rem;
  }
}