<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DAYDAYTRAVEL</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <meta
      name="description"
      content="あなたの休日の過ごし方を共有できるWebサイトです。" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;250;300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <script src="/browser/editUser_browser.js" defer></script>
  </head>
  <body>
    <header class="header header_top">
      <nav class="menu">
        <a id="menu__Pagename" href="/">DAYDAYTRAVEL</a>
        <a class="profile-link" href="/User">ユーザプロフィール</a>
        <a id="menu__registerbutton" href="/register">Get started</a>
      </nav>
    </header>
    <form class="editUserFrom">
        現在のユーザID：<%=loginUser[0].user_id%> <br />
        <input type="hidden" name="Originaluser_ID" value="<%= loginUser[0].user_id %>">
        <p>変更後のユーザID：
          <input 
          type="text" 
          pattern="(?=.*[0-9])(?=.*[A-Za-z]).{10,20}" 
          title="大文字小文字の英数字で入力してください(10~20文字)" 
          name="Newuser_ID" 
          value=""
          ><br>
          <p>大小文字英数字のみ（10~20文字）</p>
        </p><br>
        現在のユーザ名：<%=loginUser[0].user_name%><br />
        <input type="hidden" name="Originaluser_Name" value="<%=loginUser[0].user_name%>">
        <p>変更後のユーザ名：
          <input 
          type="text" 
          pattern="[A-Za-z].{5,20}" 
          title="大文字小文字の英字で入力してください(5~20文字以内)" 
          name="Newuser_Name" 
          value=""
          ><br>
        <p>大小英字のみ（5~20文字）</p>
        </p><br>
        <p>現在のパスワード：
          <input 
          type="password" 
          pattern="(?=.*[0-9])(?=.*[A-Za-z]).{10,20}" 
          title="10文字で入力してください" 
          name="password" 
          required><br>
        </p><br>
        <p><button type="submit">更新</button></p>
    </form>
    <footer class="footer">
      <section class="infomation-part">
        <section class="box">
          <h3 class="subheading">PT. Travel Everyday Indonesia</h3>
          <address class="sentence-font">
            Grand Floor Zaidin L-Walk,<br />
            JI. Maju Jaya No. 2,<br />
            Daerah Istimewa Yogyakarta,<br />
            Indonesia 55281<br />
          </address>
          <div>
            <hr class="partisionLine" />
          </div>
          <p class="height-adjust1-2">
            <a class="sentence-font" href="">About &emsp; Privacy Policy</a
            ><br />
            <a class="sentence-font" href=""
              >Teams & Conditions &emsp; Contact</a
            ><br />
          </p>
        </section>
        <div class="box-position-adjust2">
          <section class="box">
            <h3 class="subheading">Informations</h3>
            <ul>
              <li>
                <a class="height-adjust2 sentence-font" href="">
                  How to register as a user<br />
                </a>
              </li>
              <li>
                <a class="height-adjust2 sentence-font" href="">
                  Guide to creating travel review<br />
                </a>
              </li>
              <li>
                <a class="height-adjust2-2 sentence-font" href="">
                  Tutorial for making culinary<br />
                  reviews
                </a>
              </li>
            </ul>
          </section>
        </div>
        <div class="box-position-adjust3">
          <section class="box">
            <h3 class="subheading">Follow us</h3>
            <div class="height-adjust3">
              <a class="sentence-font" href="">Instagram</a><br />
              <a class="sentence-font" href="">Facebook</a><br />
              <a class="sentence-font" href="">Twitter</a><br />
              <a class="sentence-font" href="">Youtube</a><br />
            </div>
          </section>
        </div>
        <section class="box">
          <h3 class="subheading">Download app</h3>
          <div class="Img">
            <a href="">
              <img
                class="AppStore"
                src="./assets/images/1P/App.png"
                alt="App Store" />
            </a>
            <a href="">
              <img
                class="GPlay"
                src="./assets/images/1P/GooglePlay.png"
                alt="Google Play" />
            </a>
          </div>
        </section>
      </section>
      <small class="Copyright">
        &copy; <time datetime="2023">2023</time> PT. Travel Everyday Indonesia
      </small>
    </footer>
  </body>
</html>
