/*全体共通設定*/
*{
    box-sizing:border-box;
}
html{
font-size: 20px;
/* font-size: 1vw; */
}
body{
    margin: 0;
    padding: 0;
    background-color:white;
    overflow-x: hidden;/*ブラウザの画面からはみ出してもスクロールできないようにする*/
    font-family: "Poppins";
}
a {
    text-decoration: none;/*リンクの下線の削除*/
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*ヘッダー部分の共通設定*/
header.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: sticky;
    top:0; 
    z-index: 20; 

    height: 13vh; /*帯パートの縦幅を指定 max:120px min:60px*/
    max-height: 120px;
    width: 100%;
    
    margin: 0px;
    background-color:white; 
    border-bottom: 1.5px solid rgba(220, 220, 220);     
}
header.top .menue{
    display: flex; /*３要素を横に並べる */
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /*header-inner内の要素を中央に表示*/
    
    padding: 0;
    margin-right: 0;
    width: 80%;
}
header.top .Pagename{
    color: #ff553c;
    font-size: 1.35rem;
    font-weight: bold;
    letter-spacing: 0.1rem;/*文字間隔を1pxに変更*/
    margin-left: 0;
    margin-right: 0;
}
header.top .lgnBtn{
    color:rgb(0,0,0,70%);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-left: auto;
    margin-right: 2.5vw;
}
header.top .strtBtn{
    color:rgb(255,255,255,80%);
    font-size: 1rem;
    white-space: nowrap;
    background-color: #ff553c;
    padding: 1.5%;
    letter-spacing: 0.05rem;
    margin-right: 0;
}

/*780px以下の時に文字サイズを小さくする*/
@media screen and (max-width:780px) {
    header.top{
        height: 10%;
    }
    header.top .Pagename{
        font-size: 1.1rem;
    }
    header.top .lgnBtn{
        font-size: 0.8rem;
        margin-left: auto;
        margin-right: 2vw;
    }
    header.top .strtBtn{
        font-size: 0.8rem;
    }
}
/*500px以下の時に文字サイズを小さくする*/
@media screen and (max-width:500px) {
    header.top{
        height: 8%; 
    }
    header.top .Pagename{
        font-size: 0.8rem;
    }
    header.top .lgnBtn{
        font-size: 0.6rem;
        margin-left: auto;
        margin-right: 2vw;
    }
    header.top .strtBtn{
        font-size: 0.6rem;
    }
}
/*350px以下の時に文字サイズを小さくする*/
@media screen and (max-width:350px) {
    header.top{
        height: 10%; 
        max-height: 200px;
    }

    header.top .menue{
        flex-direction: column;
        }
    header.top .Pagename{   
        font-size: 0.6rem;
    }
    header.top .lgnBtn{
        font-size: 0.6rem;
        margin-left: 0;
        margin-right: 0;
    }    
    header.top .strtBtn{
        font-size: 0.6rem;
    }
}
/*--------- ---------------------------------------------------------------------------------*/
/**ヘッダーイメージパート**/
.Head-ImgTxt{
    z-index: 10;
    position:relative;
}
.Head-ImgTxt .Img{
    text-align: center;
    max-width: 100%;
    height:auto;
}
.Head-ImgTxt .Txt{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vh;

    position:absolute;
    top: 13%;
    left: 9%;
}
.Head-ImgTxt .mainTxt{
    color:#121212;
    font-weight: 600;
    font-size:  3.3rem;
    white-space: nowrap;
    }
.Head-ImgTxt .subTxt{
    color:rgba(130, 130, 130);
    font-weight: 250;
    font-size: 0.9rem;  
    line-height: 2.5vw;  
    white-space: nowrap;
    letter-spacing: 0.5px;
}

/*1028px以下の時は文字を少し下げる*/
@media screen and (max-width:1028px) {
    .Head-ImgTxt .mainTxt{
        font-size:  2.8rem;
    }
    
    .Head-ImgTxt .subTxt{
        font-size: 0.9rem;  
    }
}

@media screen and (max-width:780px) {
    .Head-ImgTxt .mainTxt{
        font-size: 2.3rem;
        margin: 2%;
        padding: 0;
    }
        .Head-ImgTxt .subTxt{
        font-size: 0.6rem;
        padding: 0%;
    }
}
@media screen and (max-width:680px) {
    .Head-ImgTxt .mainTxt{
        font-size: 1.9rem;
        margin: 2%;
        padding: 0;
    }
        .Head-ImgTxt .subTxt{
        font-size: 0.5rem;
        padding: 0%;
    }
    
}

/*500px以下の時は文字を少し下げる*/
@media screen and (max-width:500px) {
    .Head-ImgTxt .Txt{
    gap: 0;
    position:absolute;
    top: 10%;
    left: 9%;
    }

    .Head-ImgTxt .mainTxt{
        font-size:  1.8em;
        margin: 0%;
    }
    
    .Head-ImgTxt .subTxt{
        font-size: 0.5rem;  
        margin-top: 5%;
    }
}

@media screen and (max-width:450px) {
    .Head-ImgTxt .Txt{
    position:absolute;
    top: 13%;
    }

    .Head-ImgTxt .mainTxt{
        font-size:  1.1rem;
        margin: 0%;
    }
    
    .Head-ImgTxt .subTxt{
        font-size: 0.3rem;  
        margin-top: 5%;
    }
}
/*300px以下の時は文字を少し下げる*/
@media screen and (max-width:350px) {
    .Head-ImgTxt .mainTxt{
        font-size:  0.8rem;
        margin: 0%;
    }
    
    .Head-ImgTxt .subTxt{
        font-size: 0.25rem;  
        margin-top: 5%;
    }
}
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

/**記事パート**/
/*メインパート*/
/*550px以上*/
.Articles{
    max-width:100%;/*ブラウザのページの幅いっぱいまでサイズを広げる設定にする*/
    /*Articleの記載範囲をあらかじめ制限しておく*/
    padding-top: 7.5vw;
    padding-left: 10vw; 
    padding-right: 10vw; 
    padding-bottom: 20vw;
    margin: 0;
    
    /*main-partとsub-partの配置を決める*/
    display:flex;  /*mainとsubを横並びにする*/
    justify-content: space-between;
}
.main-part{
    margin: 0%;
    width:  67.5%;
    padding: 0;
    /* background-color: aqua; */

    /*subheadingと記事を確実に縦に並べる*/
    display: flex;
    flex-direction: column;/*列方向の配置*/
}
.subheading{
    font-weight: 600;
    font-size: 1.3rem;
}
.main-part .frame{
    /* background-color: #DEDEDE; */
    list-style: none; /*中黒を無くす*/
    padding:0; /*フレームいっぱいに配置するため*/
    margin-top: 3.5vh;
    /*セクションないの記事を自動整理*/
    display: flex; /*横並びにする*/
    flex-wrap: wrap;/*親要素の右端で自動的に折り返し*/
    justify-content: space-between;/*ブロックを行の両端に配置*/
    gap: 1.5vw;
}
.main-part .frame .article-block{
    padding:0;
    max-width:calc(50% - 0.75vw); /*一列になった時の最大サイズ*/
    min-width:48%;  /*２列を維持する最小サイズ*/
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;    
}
.main-part .article-block .Img{
    width: 100%;
    aspect-ratio: 360/240;
}
.main-part .article-block .notes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0.05vw;
}
.main-part .article-block .category{
    color:#ff553c;
}
.main-part .article-block .separation{
    color: rgb(220,220,220);
}
.main-part .article-block .date{
    color: rgb(220,220,220);
}
.main-part .article-block .title{
    font-size: 1.1rem;
    font-weight: 300;
    color: #121212;
    margin: 0;
    padding: 0;
}
.main-part .article-block .summary{
    color: rgb(220,220,220);
    font-size: 0.85rem;

    max-width: 85%;/*親要素85%までの幅にテキストを収める*/
    overflow: hidden;/*あふれた文を表示しない*/
    text-overflow: ellipsis; /*はみ出たテキストを点字に変換*/
    white-space: nowrap;/*改行不可*/
}
.sub-part{
    max-width: 24.5%;
    /* background-color:aquamarine; */
    margin: 0;
    padding: 0;

    /*縦方向の配列の調整*/
    display: flex;
    flex-direction: column;

    /* gap: 5vh; */
}
.sub-part .pop-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sub-part .pop-frame .pop-block{
    padding: 0;
}
.sub-part .pop-frame .line{
    width: 100%;
    color:rgb(220,220,220);
    margin-bottom: 10%;
}
.sub-part .pop-frame .title{
    font-size: 1rem;
    font-weight: 300;
    color: #121212;
    padding-bottom: 10%;
    margin-bottom: 5%;
}
.sub-part .link-frame .Btn-position{
    display: flex;
    justify-content: start;
    gap: 2vw;
}
.sub-part .link-frame .Btn{
    color: #757575;
    border: 1px solid #DEDEDE;
    
    max-width:100%;
    max-height:5%;
    
    padding-right: calc(1.2 * (0.5vh + 1vw));
    padding-left: calc(1.2 * (0.5vh + 1vw));
    padding-top: calc(0.2vh + 0.4vw);
    padding-bottom: calc(0.2vh + 0.4vw);

    font-size: 0.85rem;
    font-weight: 300;

    background-color: white;
}

@media screen and (max-width:1280px) {
    .Articles{
        padding-top: 2vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-part{
        margin: 0%;
        width:  90%;
        padding: 0;
    }
    .sub-part{
        max-width: 100%;
        width: 90%;
        gap: 0;
    }
    .sub-part .pop-frame .pop-block{
        margin-top:0;
        max-width: 100%;
    }
    .sub-part .pop-frame .line{
        margin-bottom: 1%;
    }
    .sub-part .pop-frame .title{
        padding-bottom: 1%;
        margin-bottom: 1%;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:1090px) {
    .subheading{
        font-weight: 600;
        font-size: 1.2rem;
    }
    .main-part .article-block .notes{
        font-size: 0.75rem;
    }
    .main-part .article-block .title{
        font-size: 1rem;
    }
    .main-part .article-block .summary{
        font-size: 0.8rem;
    }
    .sub-part .pop-frame .title{
    font-size: 1rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.75rem;
    }
}
@media screen and (max-width:990px) {
    .subheading{
        font-weight: 600;
        font-size: 1.1rem;
    }
    .main-part .article-block .notes{
    font-size: 0.7rem;
    }
    .main-part .article-block .title{
    font-size: 0.9rem;
    }
    .main-part .article-block .summary{
        font-size: 0.75rem;
    }
    .sub-part .pop-frame .title{
    font-size: 0.9rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:890px) {
    .subheading{
        font-weight: 600;
        font-size: 1rem;
    }
    .main-part .article-block .notes{
    font-size: 0.65rem;
    }
    .main-part .article-block .title{
    font-size: 0.8rem;
    }
    .main-part .article-block .summary{
        font-size: 0.65rem;
    }
    .sub-part .pop-frame .title{
    font-size: 0.8rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.65rem;
    }
}

@media screen and (max-width:790px) {
    .subheading{
        font-weight: 600;
        font-size: 0.9rem;
    }
    .main-part .article-block .notes{
    font-size: 0.6rem;
    }
    .main-part .article-block .title{
    font-size: 0.7rem;
    }
    .main-part .article-block .summary{
        font-size: 0.55rem;
    }
    .sub-part .pop-frame .title{
    font-size: 0.7rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.6rem;
    }
}
@media screen and (max-width:690px) {
    .subheading{
        font-weight: 600;
        font-size: 0.8rem;
    }
    .main-part .article-block .notes{
    font-size: 0.55rem;
    }
    .main-part .article-block .title{
    font-size: 0.6rem;
    }
    .main-part .article-block .summary{
        font-size: 0.45rem;
    }
    .sub-part .pop-frame .title{
    font-size: 0.6rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.55rem;
    }
}
/*550px以下*/
@media screen and (max-width:550px) {
    .Articles{
        padding-top: 2vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-part{
        margin: 0%;
        width:  90%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .subheading{
        font-weight: 600;
        font-size: 0.7rem;
    }
    .main-part .frame{
        max-width: 100%;
        margin-top: 0;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    .main-part .frame .article-block{
        max-width:100%; /*一列になった時の最大サイズ*/
        gap:1vw; 
    }
    .main-part .article-block .notes{
    font-size: 0.6rem;
    }
    .main-part .article-block .title{
    font-size: 0.8rem;
    }
    .main-part .article-block .summary{
        font-size: 0.7rem;
    }
    .sub-part{
        max-width: 100%;
        width: 90%;
        gap: 0;
    }
    .sub-part .pop-frame .pop-block{
        margin-top:0;
        max-width: 100%;
    }
    .sub-part .pop-frame .line{
        margin-bottom: 1%;
    }
    .sub-part .pop-frame .title{
        font-size: 0.6rem;
        padding-bottom: 1%;
        margin-bottom: 1%;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.65rem;
    }
}
@media screen and (max-width:540px) {
    .subheading{
        font-weight: 600;
        font-size: 0.7rem;
    }
    .main-part .article-block .notes{
    font-size: 0.55rem;
    }
    .main-part .article-block .title{
    font-size: 0.7rem;
    }
    .main-part .article-block .summary{
        font-size: 0.65rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.65rem;
    }
}
@media screen and (max-width:440px) {
    .subheading{
        font-weight: 600;
        font-size: 0.6rem;
    }
    .main-part .article-block .notes{
    font-size: 0.5rem;
    }
    .main-part .article-block .title{
    font-size: 0.7rem;
    }
    .main-part .article-block .summary{
        font-size: 0.55rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.55rem;
    }
}    
/*350px以下*/
@media screen and (max-width:350px) {
    .Articles{
        padding-top: 7.5vw;
    }
    .subheading{
        font-weight: 600;
        font-size: 0.5rem;
    }
    .main-part .article-block .notes{
    font-size: 0.45rem;
    }
    .main-part .article-block .title{
    font-size: 0.6rem;
    }
    .main-part .article-block .summary{
        font-size: 0.45rem;
    }
    .sub-part .frame .title{
        padding-bottom: 2%;
        margin-bottom: 0;
    }
    .sub-part .link-frame .Btn{
        max-width:50%;
        font-size: 1.1vw;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.5rem;
    }
}
@media screen and (max-width:240px) {
    .subheading{
        font-weight: 600;
        font-size: 0.4rem;
    }
    .main-part .article-block .notes{
    font-size: 0.4rem;
    }
    .main-part .article-block .title{
    font-size: 0.5rem;
    }
    .main-part .article-block .summary{
        font-size: 0.35rem;
    }
    .sub-part .link-frame .Btn{
        font-size: 0.45rem;
    }
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*フッター部分*/
/*フッター部分*/
footer{
    display: flex;/*要素の配置を変更するために必須の設定*/
    justify-content: center;
    align-items: center;/*上下の真ん中に配置*/
    background-color: #121212;
    bottom: 0;
    width: 100%;
    aspect-ratio: 1366/540;
    margin: 0px;
    padding: 0px;

    position:relative
}
footer .infomation-part{

    width:75%;
    position:absolute;
    bottom:0;
    left:10%;
    margin-top: 2%;
    margin-bottom: 2%;

    color: white;
    font-weight:200;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    /* background-color:blue; */

}
.infomation-part .box{
    display: flex;
    justify-content: start;
    text-align:left;
    align-items:start;
    flex-direction: column;/*子要素を縦向きに並べたい時に使う*/
    /* width:25%; */
}
.infomation-part .subheading{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 2.5vw;
    white-space: nowrap;
}
.infomation-part .partisionLine{
    display: flex;
    align-items: start;
    border-color: rgba(220,220,220,65%);
    width: 20vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    padding: 0;
}
.infomation-part .sentence-font{
    color: rgba(220,220,220, 65%);
    font-weight: 200;
    font-size:  0.9rem;
    letter-spacing: 0.05vw;
    font-style: normal;
}
.infomation-part .height-adjust1-1{
    margin: 0;
    padding: 0;
}
.infomation-part .height-adjust1-2{
    line-height: 3vw;
    margin: 0;
    padding: 0;
}
.infomation-part .height-adjust2{
    line-height: 2.5vw;
    margin: 0;
}
.infomation-part .height-adjust2-2{
    margin: 0;
    padding-top: 0.5vw;
}
.infomation-part .height-adjust3{
    line-height: 2.5vw;
}
.infomation-part .box-position-adjust2{
    margin-right: 0;
    margin-left: 5%;
}
.infomation-part .box-position-adjust3{
    margin-left: 0;
    margin-right: 5%;
}
.infomation-part .Img{
    display: flex;
    justify-content: start;
    text-align:left;
    align-items:start;
    flex-direction: column;/*子要素を縦向きに並べたい時に使う*/
}
.infomation-part .AppStore{
    display: block;
    width: 14vw;
    padding-bottom: 0.5vw;
}
.infomation-part .GPlay{
    display: block;
    width: 14vw;
    padding-top: 0.5vw;
}
.infomation-part .list-setting{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .Copyright-part{
    color: rgba(255,255,255, 65%);
    font-weight: 200;
    font-size:  0.75rem;
    letter-spacing: 0.1vw;
    position: absolute;
    bottom:0;
    left: 40%;

    display: flex;
    flex-direction: row;
    justify-content:center;
}

@media screen and (max-width:1280px) {
    footer{
        aspect-ratio: 1366/540;
        }
    footer .infomation-part{
        /* max-width: 100%;
        width: 100%; */
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
    }    
    .infomation-part .box{
        margin: 0;
        padding: 0;
    }
    .infomation-part .subheading{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 2.5vw;
    }
    .infomation-part .sentence-font{
    font-size:  0.9rem;
     }
    .infomation-part .box-position-adjust2{
        margin: 0;
        padding: 0;
    }
    footer .Copyright-part{
        font-size:  0.8rem;
        position: absolute;
        bottom:0;
        left: 45%;
    }
}
@media screen and (max-width:1180px) {
    footer{
        aspect-ratio: 1400/800;
    }
    footer .infomation-part{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 50%;
        gap: 2%;
        margin-bottom: 10%;
    }
    .infomation-part .subheading{
    font-size: 0.8rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.8rem;  
    }
     footer .Copyright-part{
        font-size:  0.7rem;
        position: absolute;
        bottom:0;
        left: 40%;

    }
}

@media screen and (max-width:1000px) {
    footer{
        aspect-ratio: 1400/850;
        }
    footer .infomation-part{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 50%;
        gap: 2%;
        margin-bottom: 10%;
    }
    .infomation-part .subheading{
        font-size: 0.7rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.7rem;  
    }
     footer .Copyright-part{
        font-size:  0.6rem;
        position: absolute;
        bottom:0;
        left: 40%;
    }
}

@media screen and (max-width:900px) {
    footer{
        aspect-ratio: 1400/850;
    }
    .infomation-part .subheading{
    font-size: 0.7rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.7rem;  
    }
     footer .Copyright-part{
        font-size:  0.6rem;
        position: absolute;
        bottom:0;
        left: 35%;
    }
}
@media screen and (max-width:700px) {
    footer{
        aspect-ratio: 2/1.3;
    }
    .infomation-part .subheading{
        font-size: 0.6rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.6rem;  
    }
     footer .Copyright-part{
        font-size:  0.5rem;
        position: absolute;
        bottom:0;
        left: 35%;
    }
}
@media screen and (max-width:600px) {
    footer{
        aspect-ratio:  2/1.3;
        }
    .infomation-part .subheading{
        font-size: 0.55rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.55rem;  
    }
     footer .Copyright-part{
        font-size:  0.45rem;
        position: absolute;
        bottom:0;
        left: 30%;
    }
    .infomation-part .list-setting{
    line-height: 20px;
    }
}
@media screen and (max-width:550px) {
    footer{
        display: flex;/*要素の配置を変更するために必須の設定*/
        flex-direction: column;
        justify-content: end;
        align-items: center;/*上下の真ん中に配置*/
        gap:0;
        aspect-ratio:  1/1;
    }
    footer .infomation-part{

        position:static;
        
        width:60%;
        /* background-color:green; */

        color: white;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: start;
        margin-top: 5%;
        margin-bottom: 10%;
        gap:1%;
    }
    .infomation-part .subheading{
        font-size: 0.7rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.7rem;  
    }
    footer .Copyright-part{
        font-size:  0.6rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
    }
    .infomation-part .height-adjust1-2{
        line-height: 4vw;
    }
    .infomation-part .height-adjust2{
    line-height: 4vw;
    }
    .infomation-part .height-adjust3{
    line-height: 4vw;
    }
    .infomation-part .Img{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items:center;
        gap: 3vw;        
        }

    .infomation-part .AppStore{
        width: 17vw;
    }
    .infomation-part .GPlay{
        width: 17vw;
    }

}

@media screen and (max-width:450px) {
    footer{
        aspect-ratio:  1/1;
    }
    footer .infomation-part{
        width:70%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .infomation-part .height-adjust1-2{
    line-height: 5vw;
    }

    .infomation-part .height-adjust2{
    line-height: 5vw;
    }
    .infomation-part .height-adjust3{
    line-height: 5vw;
    }
    .infomation-part .AppStore{
        width: 25vw;
    }
    .infomation-part .GPlay{
        width: 25vw;
    }
    footer .Copyright-part{
    position: absolute;
    bottom:0;
    left: 10%;
    }
}
@media screen and (max-width:350px) {
    .infomation-part .subheading{
        font-size: 0.6rem;
    }
    .infomation-part .sentence-font{
        font-size:  0.6rem;  
    }
    footer .Copyright-part{
        font-size:  0.5rem;
        position: absolute;
        bottom:0;
        left: 20%;
        }
    
}