<footer class="footer">
  <seciton class="footer-section">
    <div class="footer-section-container-address">
      <h5 class="footer-section-heading">PT. Travel Everyday Indonesia</h5>
      <address class="footer-section-address">
        Grand Floor Zaidin L-Walk,<br />Jl. Maju Jaya No. 2,<br />
        Daerah Istimewa Yogyakarta,<br />Indonesia 55281
      </address>
      <ul class="footer__nav-item--address__list">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Privacy policy</a>
        </li>
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer-section-container-informations">
      <h5 class="footer-section-heading">Informations</h5>
      <ul class="footer__nav-item">
        <li>
          <a href="#">How to register as a user</a>
        </li>
        <li>
          <a href="#">Guide to creating travel review</a>
        </li>
        <li>
          <a href="#">Tutorial for making culinary reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-section-container-item">
      <h5 class="footer-section-heading">Follow us</h5>
      <ul class="footer__nav-item">
        <li>
          <a href="#">Instagram</a>
        </li>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="footer-section-container-app">
      <h5 class="footer-section-heading">Download app</h5>
      <ul class="footer-nav-app-list">
        <li>
          <a href="#">
            <image
              src="images/appstore.png"
              alt="Download on the App Store"
              widht="177"
              height="55.99"
            ></image>
          </a>
        </li>
        <li>
          <a href="#">
            <image
              src="images/google-play.png"
              alt="Download on the google-play"
              widht="177"
              height="55.99"
            ></image>
          </a>
        </li>
      </ul>
    </div>
  </seciton>
  <small class="footer-copy"> © 2023 PT. Travel Everyday Indonesia </small>
</footer>
