.sidemenu-container{
    padding-top: 100px;
    padding-right: 123px;
}

.sidemenu-newarticle-list-container{
    padding-bottom: 96.73px;
}

.sidemenu-users-list-container{
    width: auto;
    max-width: 265px;
}

.sidemenu-contents-ul{
    width: auto;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 0;
}

.sidemenu-contents-card-ul{
    width: 265px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 0 0;
}

.sidemenu-card-elem{
    height: auto;
    padding-bottom: 60px;
    width: 265px;
}

.sidemenu-card-img{
    height: auto;
    width: 265px;
}

.sidemenu-card-categorydate-ul{
    align-items: center;
    display: flex;
    height: 21px;
    padding: 25px 0 15px;
    text-align: left;
    width: auto;
}

.sidemenu-card-catogorydate-categorytext{
    color: #FF553C;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding-right: 10px;
}

.sidemenu-card-catogorydate-datetext{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding-left: 10px;
}

.sidemenu-card-title-text{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.sidemenu-contributors-list-container{
    width: 100%;
}

.sidemenu-contributors-list-ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0;
}

.sidemenu-contributors-list-li{
    padding-bottom: 30px;
}
