.popup {
  width: 300;
  height: 300;
  z-index: 101;
}

.popup-bg {
  /*position size*/
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  /*design*/
  background-color: gray;
  opacity: 0.5;
}

.popup-flag {
  display: none;
}

.popup-flag:not(:checked) + .popup {
  display: none;
}

.popup-flag:not(:checked) + * + .popup-bg {
  display: none;
}
