.kiji-all{
    max-width: 7000px;    /* ★ここでお好みの「最大幅」を固定します */
    margin: 0 auto;       /* ★上下余白0、左右をautoにすることで中央配置になります */
    width: 95%;           /* ★スマホなどの小さい画面では左右に少し隙間を持たせます */
}

.kiji-wrapper {
    display: grid; /* フレックスボックスを使用 */
    grid-template-columns: 4fr 1fr; /* メインコンテンツとサイドコンテンツの幅を指定 */
    width: 100%;    
    gap: 10vw; /* メインコンテンツとサイドコンテンツの間のスペース */
    margin-top: 5vw;
   
}



.kiji-main {
    margin-left: 3vw;
    /* /* background-color: red; */
} 

/* メイン記事：投稿者情報の設定 */
.toukousya{
    display: flex;
    /* background-color: #FF553C;*/
} 


img {
  width: 100%;      /* 親の幅いっぱいに強制的に広げる */
  max-width: none;  /* 制限を解除する */
  height: auto;     /* 比率を保つ */
}


.profile-img{
    margin-top: 0.5vw;
    position: absolute;
    width: 4vw;
    height: 4vw;
    clip-path: circle(2vw at 50% 50%); 
}



.namedate{
    margin-left: 5vw;
    font-size: 1.1vw;
    line-height: 0.9vw;
}

.publish-date{
    color: #757575;
}
 


.sns{
    margin-top: 1vw;
    display: flex;
    width: 3vw;
    height:3vw;
    margin-left:40vw;
}



/* メイン記事のCSS設定 */
.kiji{
    margin-top: 4vw;
    width: 100%;
    /* background-color: #FF553C; */
}
.kiji-culumn{
    font-size: 1.4vw;
    color:#FF553C;

}
.kiji-title{
    font-size: 2vw;
    font-weight: 200;
}
.kiji-main-text{
    font-size:1.5vw;
    color: #757575;
}


.kiji-figure-caption {
    text-align: center;
    font-size: 1.3vw;
    color: #757575;

}

.kiji-sub-title{
    font-size: 1.5vw;
}



/* サブコンテンツのCSS */


.kiji-side-title{
    font-size: 1.5vw;
  /* より太く（数値指定） */
    font-weight: 800;
    color:black;
}

.grid-container-post-sub {
  display: grid;
  grid-template-columns: 24vw; /* 2列のグリッド */
  justify-content: start;
  gap: 50px; /* グリッドアイテム間のスペース */
  margin-top: 80px;
}


