.content-detail-reviews-container {
  width: 740px;
  height: auto;
  padding: 100px 115px 174px 123px;
}

.reviews-header-container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.reviews-userprofile-band-container {
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
}

.reviews-header-userprofile-band-position {
  vertical-align: top;
}

.reviews-header-namedate-container {
  height: 52px;
  width: auto;
  max-width: 200px;
  text-align: left;
  padding-left: 15px;
}

.reviews-header-nametext {
  color: #121212;
  font-size: 16px;
  margin: 0;
  padding-bottom: 4px;
}

.reviews-header-postdate-text-position {
  margin: 0;
}

.reviews-header-titleblock-container {
  align-items: left;
  padding-top: 51px;
  padding-bottom: 49px;
}

.reviews-title-tags {
  margin: 0;
  padding-bottom: 10px;
}

.reviews-title-text {
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  margin: 0;
}

.reviews-context-container {
  width: 740px;
  height: auto;
}

.reviews-context-text {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #757575;
}

.reviews-context-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 50px 0 15px;
  color: #121212;
}

.reviews-context-titleimg-container {
  width: 100%;
  height: auto;
  padding: 50px 0 50px;
  justify-content: space-between;
}

.reviews-context-titleimg-img {
  width: 100%;
  height: auto;
}

.reviews-context-titleimg-title {
  width: 100%;
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.reviews-context-image1 {
  width: 360px;
  height: 340px;
}

.reviews-context-image2 {
  width: 360px;
  height: 235px;
  vertical-align: top;
}

.reviews-tag-container {
  padding-top: 50px;
  text-align: left;
}

.edit-button {
  color: #ffffff;
  background-color: #ff553c;
  border: 0;
  display: flex;
  height: 40px;
  vertical-align: middle;
  padding: 0 10px 0;
  margin-top: 10px;
  text-decoration: none;
  align-items: center;
}
