@charset "utf-8";

/* 
hero
 */
.hero {
  display: flex;
  align-items: center;
  background-image: url(./assets/images/hero-background.jpg);
  background-size: cover;
  aspect-ratio: 16 / 8;
  margin: var(--header-height) 0 0 0;
}
.hero__content {
  padding: 0 0 0 5%;
  width: 40%;
  font-size: clamp(14px, 2vw, 18px);
}
.hero__lead {
  font-size: clamp(20px, 4vw, 60px);
}

/* タブレット、スマートフォン用スタイル指定 */
@media screen and (max-width: 768px) {
  .hero {
    margin: var(--header-height-small) 0 0 0;
  }
  .hero__content {
    width: 50%;
  }
}

/* 
all-reviews
 */
.all-reviews {
  flex-basis: 70%;
}

/* 
popular
 */
.popular-reviews__link {
  color: var(--color-dark);
  text-decoration: none;
  transition: background-color 0.25s;
  font-size: clamp(14px, 1.2vw, 18px);
}
.popular-reviews__link:hover {
  background-color: var(--color-super-light-gray);
}
.popular-reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.popular-reviews__list > li {
  padding: 0 0 clamp(20px, 4vw, 55px) 0;
  margin: 0 0 clamp(10px, 2vw, 25px) 0;
  border-bottom: 0.5px solid var(--color-dark);
}
.popular-reviews__list > li:last-child {
  border: none;
}

/* タブレット、スマートフォン用スタイル指定 */
@media screen and (max-width: 768px) {
  .popular-reviews__content {
    padding: 0 15px;
  }
}

/* 
tags
 */
.tags__content {
  display: flex;
  flex-wrap: wrap;
}

/* タブレット、スマートフォン用スタイル指定 */
@media screen and (max-width: 768px) {
  .tags__content {
    padding: 0 15px;
  }
}
