.container {
    background: var(--White);
    margin: 150px auto 0;
    min-height: 600px;
    max-width: 1120px;
}

.article-list__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: start;
    justify-items: start;
    gap: 60px 20px;
}

.no-articles {
    font-size: 1.6rem;
    color: var(--Dark);
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 1119px) {
    .container {
        width: 740px;
        margin: 100px auto 0;
    }

    .article-list__grid:has(> :only-child) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .article-list__grid {
        justify-content: center;
        justify-items: center;
    }

    .article-list__grid:has(> :only-child) {
        justify-content: start;
        justify-items: start;
    }
}

@media (max-width:819px) {
    .container {
        width: 360px;
        margin: 80px auto 0;
    }

    .article-list__grid:has(> :only-child) {
        width: 100%;
    }

    .articles-wrapper {
        display: grid;
        justify-items: center;
    }
}
