@charset "UTF-8";

/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Common
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
html {
    font-family: 'Poppins', 'Arial', san-serif;
    color: var(--color-primary-text);
}

:root {
    --color-Primary: #FF553C;
    --color-Secondary: #DEDEDE;
    --color-Dark: #121212;
    --color-Gray: #757575;
}

/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Header
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.navbar {
    container-type: inline-size;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 11%;
    border-bottom: 1px solid var(--color-Secondary);
    background-color: #fff;
}

.navbar_brand {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1px;
    color: var(--color-Primary);
}

.navbar_sp-container {
    width: 30px;
    height: auto;
}

.navbar_pc-container {
    display: none
}

@container (width > 600px) {
    .navbar {
        padding: 23px 11%;
    }

    .navbar_sp-container {
        display: none;
    }

    .navbar_pc-container {
        display: flex;
        gap: 35px;
        align-items: center;
    }

    .navbar_btn-Login {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 1.5px;
    }

    .navbar_btn-Getstarted {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 1.5px;
        padding: 14px 16px;
        border: 1px solid var(--color-Primary);
        background-color: var(--color-Primary);
    }

}

/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Hero
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.hero {
    container-type: inline-size;
}

.hero-container {
    display: flex;
    align-items: center;
    background-image: url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1366/770;
    margin-top: 55px;
}

.hero_txt {
    display: block;
    width: clamp(225px, 70%, 455px);
    margin: 0 11%;
}

.hero_title {
    font-size: clamp(30px, 5cqi, 60px);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;
}

.hero_desc {
    margin-top: 17.5px;
    width: clamp(225px, 70%, 455px);
    font-size: clamp(8px, 2cqi, 16px);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

@container (width > 1000px) {
    .hero-container {
        margin-top: 0;
    }

    .hero_desc {
        margin-top: 35px;
        width: 455px;
    }

}

/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Articles
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.reviews {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 265px);
    padding: 73px 11% 152px;
    gap: clamp(20px, 5cqi, 115px);
}

.articles_title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
}

.articles_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    margin-top: 40px;
    gap: 2rem;
}

.card {
    container-type: inline-size;
    margin-bottom: 60px;
}

.card_img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card_info {
    display: flex;
    margin-top: 25px;
}

.card_category {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--color-Primary);
}

.card_category::after {
    content: '';
    margin: 0 10px;
    border-right: 1px solid var(--color-Secondary);
}

.card_date {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--color-Gray);
}

.card_title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
}

.card_desc {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-Gray);
}

@container (width > 500px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .reviews {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 146px 11% 304px;
    }
}

/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Aside
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.aside-articles_title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
}

.aside-articles_list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.aside-articles_subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.aside-articles_list article:not(:last-child) .aside-articles_subtitle::after {
    content: '';
    display: block;
    border-bottom: 0.5px solid var(--color-Dark);
    margin: 55.5px 0 25px;
}

.tags_title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 131px;
}

.tags_list {
    display: flex;
    margin-top: 40px;
    gap: 23px;
}

.tags_contents {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-Gray);
    padding: 8px 18px;
    border: 1px solid var(--color-Secondary);
}

@media (max-width: 1000px) {
    .aside {
        margin-top: 130px;
        gap: 100;
    }
}
/* =======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
Footer
=======＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.footer {
    container-type: inline-size;
    background-color: var(--color-Dark);
    border-top: 1px solid var(--color-Secondary);
    width: 100%;
    color: #fff;
}

.footer_main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 11% 29px;
    gap: 4rem;
}

.footer_title {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 35px;
}

.footer_address {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 50%);
    margin-top: 38px;
}

.footer_address::after {
    content: '';
    display: block;
    border-bottom: 0.5px solid rgba(255, 255, 255, 50%);
    margin: 25px 0;
}

.footer_companylist {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 15px;
}

.footer_companycontents {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 50%);
    line-height: 1.5;
}

.footer_contents {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 50%);
}

.footer_list {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    gap: 15px;
}

.footer_snslist {
    width: 170px;
}

.footer_appicon {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    gap: 15px;
}

.footer_iconimg {
    max-width: 177px;
    aspect-ratio: 177/59;
}

.copyright {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 50%);
    display: block;
    margin-top: 127px;
    text-align: center;
}

@container (width > 500px) {
    .footer_main {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@container (width > 1000px) {
    .footer_main {
        grid-template-columns: repeat(4, auto);
    }
}