@import url(destyle.css);

html {
    font-family: "Poppins", sans-serif; /*全体のフォント設定*/
}

.container {
   max-width: 1120px;
   margin: 0 auto; /*水平方向（左右）に中央揃え*/
   display: flex;
   flex-wrap: wrap;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 1.5px;
}

.btn-login-register li {
    list-style-type: none;
    margin-left: 35px;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    padding: 14px 16px;
    background-color: #FF553C;
    color: white;
}

/* ヘッダー全体 */

header {
    padding: 20px 20px; 
    background-color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
}

.fixed-header {
    position: fixed; /*　これでヘッダーを固定する　*/
    top: 0;
    left: 0;
    height: 91px;
    z-index: 1000; /* これで他コンテンツより上に表示されるようになる　*/
}

.logo  {
    font-size: 20px;
    font-weight: 700;
    color: #FF553C;
    letter-spacing: 1px;
}

/* ここからがメイン */

/* 一番上のアイコンとかの設定！ */

.content-detail {
    display: flex;
    margin-bottom: 90px;
    justify-content: space-between
}

.author-social-location {
    display: flex;
}

main {
    padding-top: 91px; /*　これで固定されたフッターと同じ高さになって隠れることがない*/
}

.content-category {
    font-size: 14px;
    font-weight: 500;
    color: #FF553C;
}

.solial-links .fa {
    font-size: 24px;
    margin: 15px 15px 15px 0;
}

/* ツイッターアイコン以外の色を指定する */
.fa-instagram , .fa-linkedin , .fa-link {
    color: #A8A8A8;

}

/* 人の名前（Karen Smith） */
.author-social-location p {
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 300;
    width: 99px;
    height: 24px;
}

.author-details {
    padding: 10px 0 0 15px;
}

/* 記事全ての日付に反映されてる */
.article-date {
    font-weight: 300;
    font-size: 14px;
    color: #757575;
}

/* Karen Smithの横の日付だけを指定 */
.author-social-location .article-date {
    width: 89px;
    height: 21px;
}



.image-description {
    display: block; /*これで、インライン要素をブロック要素にする*/
    text-align: center; /*水平方向に真ん中にテキストを持ってくる*/
    font-size: 14px;
    color: #757575;
    margin: 10px 0 50px 0;
}

.content {
    max-width: 740px;
}

.content h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 50px;
    margin-top: 30px;

}


.content p:not(:first-child) { /*　これで最初のp要素には反映しない！*/
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #757575;
    margin: 20px 0 15px 0;
}

/* メイン記事の画像部分 */

.content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-1 img {
    width: 100%;
    height: 420px;
    object-fit: cover; /* ★画像が縦横比を保ちつつ、枠を埋めるように拡大縮小し、はみ出た部分を切り取る */
    object-position: center; /* 切り取る際の基準を画像の中心にする */
    display: block; /* 画像の下の余白を消すため */
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 740px;
    margin: 50px auto;
}

.image-2 {
    padding-bottom: 94.44%;
    height: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

 .image-2 img , .image-3 img {
    position: absolute; /* 親の .image-2 / .image-3 を基準に配置 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*親要素からはみ出した部分は切るよ*/
    object-position: center; /*　これで、センターを中心として端っこたちをきりとる*/
}

.image-3 {
    padding-bottom: 65.27%;
    height: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 40px;
}


/* 横並び画像についてのCSS */


article {
  display:flex;
  justify-content: center;
}

.main-contents {
    width: 740px;
    margin-right: 100px;
    max-width: 100%;
}

.content .content-tag {
    display: block; /*これで、インライン要素をブロック要素にする*/
    font-size: 14px;
    width: 94px;
    height: 37px;
    color: #757575;
    border: 1px solid #dedede;
    text-align:center;
    padding:8px 0;
    margin: 100px 0;
}

/* 関連記事から  h3はh4のところと同じでつけました*/

.other-relavant {
    margin-bottom: 200px;
}

.reviews {
    display: flex; /*　これで、子要素を横並びにするよ*/
    flex-wrap: wrap;
    text-align: left;
    gap: 20px;
}

.card-review {
    max-width: 360px;
    display: grid;
    flex: auto; /*　拡大、縮小、初期サイズはコンテンツサイズを基準にする（利用可能なスペースに合わせて、柔軟にサイズを調整する）*/
    margin-bottom: 30px;
}

.card-review-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /*親要素からはみ出した部分は切るよ*/
    object-position: center; /*　これで、センターを中心として端っこたちをきりとる*/
    display: block;
}


.post-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    color: #757575;

}

/* ここからAside */

.explore-more {
    float: right;
    max-width: 265px;
}

.contents-popular-list {
    max-width: 100%;
    display: grid;
    flex: auto;
}

.side-contents {
    width: 100%;
}


.side-contents-image {
    width: 100%;
    height: 165px;
}

.side-contents-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*親要素からはみ出した部分は切るよ*/
    object-position: center; /*　これで、センターを中心として端っこたちをきりとる*/
    display: block;
}

h3 , h4 , h5 {
    font-size: 22px;
    line-height: 28.13px;
    font-weight: 600;
    padding-bottom: 50px;
}

.category-date-wrapper {
    display: flex; /* 子要素を横並びにする */
    align-items: center; /* 垂直方向の中央揃え (必要に応じて) */
    padding-top: 15px;
}

/* pタグとspanタグのデフォルトのマージンをリセットすると、より制御しやすくなる */
.article-category {
    padding-right: 10px; /* 右に余白を入れた　*/
    font-size: 14px;
    color: #FF553C;
    border-right: 1px solid #dedede; /* 右に横線を入れる！solidとかのスタイルも入れないと反映されない */
}

.category-date-wrapper span {
    margin: 0;
    padding-left: 10px; /* 左に余白を入れた　*/
}

.graphic-design {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    padding: 15px 0;

}

/* ここから下が投稿者一覧 */

.contributor {
    padding-top: 50px;
    max-width: 230px;
}

.person img {
    width: 60px;
    height: 60px;
}

.person {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.person p {
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 0.3px;
    padding-top: 10px;
}


/*ここから下はフッター*/
/* 下からがフッターです！！！！ */

footer {
    background-color: #121212;
    color:rgba(255,255,255,0.5);
}

.footer-main {
    display: flex;
    justify-content: space-evenly; /*　flexアイテムかんと両端全て均等なスペーず　*/
}

.footer-sub {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* アドレスの下に線を引く*/

.address-block {
    border-bottom: 1px solid #dedede; /* 線の色 */
    padding-bottom: 20px; /* 線と下のコンテンツの間の余白 */
    margin-bottom: 20px; /* その下のコンテンツとの間隔 */
    opacity: 0.5;
    line-height: 1.6; /* 住所の行間 */
}

.footer-links-group { /* 左下のところ*/
    display: flex; /*　中身を箱とみなします！*/
    flex-wrap: wrap; /*　横の幅限界迎えたら次の行にいきます！*/
}

.footer-link {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
    line-height: 40px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.5); 
}

.footer-copyright {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    width: fit-content; /* または明示的な最大幅 */
    margin: 0 auto;     /* これが中央寄せのキー */
    text-align: center; /* 念のため、pタグ内のテキストも中央寄せにする */
    padding-bottom: 20px;
}

.footer-brand {
    padding-top: 100px;
    color: #FFFFFF;
    max-width: 265px;
}


.footer-brand img {
    width: 177px;
    height: 55.99px;
}

.app-buttons {
    display: flex; /* Flexboxを有効にする */
    flex-direction: column; /* 要素を縦方向に並べる */
    gap: 20px;
}


/* タブレット向け　(max-width: 1024px) */
@media screen and (max-width: 1024px)  {

    .content {
    width: 80%;
    margin: 0 auto;
    }

    article {
        display: block;
    }

    .image-1 img {
        height: auto;
    }

    .explore-more {
        float: none;
        width: 80%;
        gap: 20px;
        margin: 0 auto;
    }




}

/* 一般的なスマホ向け（max-width: 767px） */
@media screen and (max-width: 767px) {

    .other-relavant {
        width: 80%;
        margin: 0 auto;
    }

    .footer-main {
        display: block;
    }

    .footer-brand {
        width: 80%;
        margin: 0 auto;
    }

    .footer-copyright {
        margin-top: 100px;
    }

}