.user-login {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 30px;
}

.user-login p {
    color: #757575;
    font-size: 18px;
    font-weight: 300;
}

p.msg {
    color: #FF553C;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (min-width: 600px) {
    .login-form {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .login-form {
        width: 50%;
    }
}