.user {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.user p {
    color: #757575;
    font-size: 18px;
    font-weight: 300;
}

p.msg {
    color: #FF553C;
    font-size: 18px;
    font-weight: 300;
}