@charset "UTF-8";

:root {
    --main-color: #fff;
    --primary-color: #121212;
    --sub-color: #757575;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*  メインコンテンツの位置調整 */
.content-wrapper {
    max-width: 1119px;
    margin: 191px auto 0;
    /* 上は191px, 左右は中央寄せ*/
    display: flex;
    /* 記事のコンテンツとサイドバーを横並びに */
    justify-content: space-between;
    gap: 30px

}

/* メインコンテンツ　記事エリア */
.content-wrapper-inner {
    max-width: 740px;
}
 /* プロフィール */
.author-profile {
    display: flex;
    align-items: center; /* 垂直方向（上下）を中央に揃える */
    margin-bottom: 100px;
    gap: 15px;
}
.profile-img {
    width: 60px;
    height: 60px;
}

.author-profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: var(--primary-color);
}

.author-profile-detail time {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--sub-color);
}

/* SNSを右側に配置する */
.author-profile-sns {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.author-profile-sns img {
    width: 24px;
    height: 24px;

}

/* SNSのホバー */
.author-profile-sns img {
    transition: opacity 0.2s ease;
}

/* twitterだけ */
.Twitter-icon {
    opacity: 0.34;
}
.Twitter-icon:hover {
    opacity: 1;
}

/* 他のアイコンについて */
.author-profile-sns img:not(.Twitter-icon):hover {
    filter: brightness(0);
}

/* 記事タイトル */
.article-title-wrapper {
    margin-top: 51px;
    margin-bottom: 49px;
}

/* Culinaryの装飾 */
.main-category {
    display: block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FF553C;
    margin-bottom: 10px;
}
/* 記事タイトル */
.article-title {
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-color);
}

/* 記事詳細 */
.article-content {
    width: 740px;
    height: auto;
    align-items: center;
    margin-bottom: 174px;
}
/*  article-text [pで囲ってる］ */
.article-text:not(:last-child) {
    margin-bottom: 30px;
}

/* margin以外の共通スタイルを維持したい場合 */
.article-text {
    font-weight: 300;
    font-size: 18px;
    color: var(--sub-color);
}

/* コーヒーの画像とキャプションのところ */
.article-main-img-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*コーヒーの画像 */
.article-main-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
/* コーヒーの画像のキャプション */
.article-main-img-description {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: var(--sub-color);
}

/* subtitle */
.article-subtitle {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
}

/* 真ん中の画像２枚のところ */
.article-sub-img-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

/* カテゴリーボタン */
.article-category {
    margin-top: 50px;
    border: 1px solid #DEDEDE; 
    border-radius: 0;
    display: inline-block;

    /* 中の余白 */
    padding: 8px 18px;

    /* 中の文字 */
    font-weight: 300;
    font-size: 14px;
    font-style: Light;
    line-height: 100%;
    color: var(--sub-color);
}

/* サイドバー */
.sidebar-wrapper {
    width: 30%;
    flex-shrink: 0
}

/* サイドバー　新着記事 */

/* タイトル */
.sidebar-title {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 28px;
    color: var(--primary-color);
}

/* 記事 */
.new-article {
    margin-top: 40px;

}

/* 記事の写真 */
.new-article-img {
    margin-bottom: 25px;
}

/* 新着記事のカテゴリーと縦線と日付 */
/* 大枠から */
.new-article-detail {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}
/* Category */
.new-article-category {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #FF553C
}
/* 縦線 */
.new-article-date { 
    border-left: 1px solid #DEDEDE; 
    margin-left: 10px; 
    padding-left: 10px; 
}
/* 日付 */
.new-article-date {
    font-weight: 300;
    font-size: 14px;
    font-style: Light;
    line-height: 100%;
    letter-spacing: 1px;
    color: var(--sub-color);
}

/* 新着記事　タイトル */
.new-article-title {
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

/* 投稿者 */
.sidebar-author {
    margin-top: 97px;
}

/* 投稿者タイトル */
.sidebar-title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--primary-color)
}
/* 投稿者リスト */

/* 顔写真と名前のセット */
.author-item {
    display: flex;
    height: 60px;
    margin-bottom: 30px;
    gap: 15px;

}
/* 投稿者の名前 */
.author-name {
    padding-top: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: var(--primary-color);
}

/* 関連記事 */
.related-article-wrapper {
    margin-top: 174px;
    margin-bottom: 303px;
    margin-left: 123px;
    width: 740px;
    height: 480px;
    

}
/* 関連記事のタイトル */
.related-article-titles {
    margin-bottom: 50px;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 28px;
}
/* 記事本体のブロック */
.related-article-contents { 
    display: flex;
    width:auto;
    justify-content: space-between;
    gap: 20px;
}

/* 記事 */
.related-article-content {
    color: var(--sub-color)
}
/* 記事の画像 */
.related-article-img {
    margin-bottom: 25px;
}

/* 記事の中身 */
.related-article-detail {
    margin-bottom: 15px;
}
/* カテゴリー */
.related-article-category {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #FF553C;
}
/* 縦線 */
.related-article-date { 
    border-left: 1px solid #DEDEDE; 
    margin-left: 10px; 
    padding-left: 10px; 
}

/* 日付 */
.related-article-date {
    font-weight: 300;
    font-size: 14px;
    font-style: Light;
    line-height: 100%;
    letter-spacing: 1px;
}

/* 記事タイトル */
.related-article-title {
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    list-style: 30px;
    color: var(--primary-color);
    margin-bottom: 15px;
}
/*  詳細ページに置く「編集ボタン」のデザイン*/
.btn-edit {
    display: inline-block;
    background-color: #fff;
    color: #FF553C;              
    border: 2px solid #FF553C;    
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(255, 85, 60, 0.1);
}

/* マウスを乗せたときにオレンジ色が反転するアニメーション */
.btn-edit:hover {
    background-color: #FF553C;
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 85, 60, 0.2);
    transform: translateY(-1px); 
}


/* レスポンシブ対応の時 */

@media screen and (max-width: 1280px) {
    .header-inner, .content-wrapper-inner, .sidebar-wrapper, .related-article-wrapper {
        padding-left: 5% ;
        padding-right: 5% ;
    }
}

@media (max-width: 822px) {
    .content-wrapper {
        flex-direction: column; /* 横並びから縦並びに変更 */
        align-items: center;    /* 中央寄せ */
        gap: 50px;              /* 縦に並んだ時の間隔 */    
    }

    .content-wrapper-inner, 
    .sidebar-wrapper {
        width: 100%;            /* 横幅いっぱいにする */
        max-width: 100%;        /* 制限を解除 */
    }

    .related-article-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .related-article-content {
        flex-direction: column;
        align-items: center;
    }
    .header-inner {
        padding: 0 20px;
    }
}
