@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

/* common */

:root {
  --main: #121212;
  --muted: #757575;
  --primary: #ff553c;
  --white: #fff;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-semi-bold:600;
  --fw-bold: 700;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--fw-normal);
  color: var(--main);
}

/* media queries */

@media screen and (max-width: 936px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 534px) {
  html {
    font-size: 75%;
  }
}
