html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

#login_left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FF553C;
}

#login_head {
    width: auto;
    background-color: #FF553C;
    display: flex;
    margin-top: 5%;
}

#login_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 5vh;
    gap: 10px;
    text-align: left;
    margin-inline-start: 15%;
    background-color: #FFFFFF;
    border-radius: 5%;
}


#login_contents {
    width: auto;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wellcome {
    font-family: Poppins;
    font-weight: 700;
    font-size: 300%;
    line-height: auto;
    color: #FFFFFF;
    width: auto;
    margin-bottom: 10vh;
}

#login_foot {
    text-align: center;
}

.login_copywrite {
    font-family: Poppins;
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
}

#login_right {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

#input_form {
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.input_headline {
    font-family: Poppins;
    font-weight: 700;
    font-size: 300%;
    color: #121212;
}

#input_box {
    width: auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

#login_info {
    width: auto;
    height: auto;
    list-style: none;
    margin: 0 auto;
}

.item {
    width: 10em;
    display: inline-block;
    font-family: Poppins;
    font-weight: 300;
    font-size: 150%;
    line-height: auto;
}

.item_name {
    width: auto;
    text-align: left;
    margin: 0.5em;
}

.input {
    width: 50%;
    font-size: 150%;
    box-sizing: border-box;
}

#login_box {
    width: auto;
    height: auto;
}

.login_button {
    width: auto;
    font-family: Poppins;
    font-weight: 300;
    font-size: 150%;
    padding: 1% 3%;
}

#go_regist {
    width: 60%;
    height: auto;
    padding-top: 1em;
}

.announce {
    width: auto;
    height: auto;
    font-family: Poppins;
    font-size: 120%;
    font-weight: 600;
    padding: 5%;
}

.announce a {
    text-decoration: underline;
    text-decoration-thickness: 10%;
    font-size: 130%;
}

#error-message {
    color: red;
    margin-bottom: 2vh;
    font-family: Poppins;
    font-weight: 300;
    font-size: 120%;
}

@media screen and (max-width: 480px) {

    /* 480px以下に適用されるCSS（スマホ用） */
    html {
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #login_left {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        background-color: #FF553C;
    }

    #login_head {
        display: flex;
        width: auto;
        background-color: #FFFFFF;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0%;
    }

    #login_title {
        width: auto;
        height: auto;
        padding: 3%;
        background-color: #FFFFFF;
        border-radius: 5%;
        margin-inline-start: 0%;
    }

    #login_contents {
        width: auto;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Wellcome {
        font-family: Poppins;
        font-weight: 700;
        font-size: 300%;
        line-height: auto;
        color: #FFFFFF;
        width: auto;
        margin-bottom: 0;
    }

    #login_right{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    }

    .item {
    width: 10em;
    display: inline-block;
    font-family: Poppins;
    font-weight: 300;
    font-size: 150%;
    line-height: auto;
    text-align: left;
    }

    .item_name {
    width: auto;
    text-align: center;
    margin: 0.5em;
    }

    #go_regist {
    width: 80%;
    height: auto;
    padding-top: 1em;
    }
}