---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div id="author-social-location">
                
    </div>
    <div id="title">

    </div>
    <div id="content">

    </div>
</Layout>